html{
    font-size: 10px;
}

* , *::before , *::after{
    box-sizing: border-box;
}

body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E5E5E5;
}

.body-single{
    background: #ffffff;
}

/* Headings */

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

/* Button Links */

.btn{
    font-size: 1.6rem;
    background: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: #000;
}

.btn--hover:hover{
    border-bottom: 1px solid #000000;
}

.btn--hover__secondary:hover{
    border-bottom: 1px solid #ffffff;
}

.btn--secondary{
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.btn--active{
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 1px;
}

.btn--center{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

/* List */

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list--link{
    display: flex;
    font-size: 1.6rem;
}

.list--link a{
    margin-right: 3rem;
}

.list--footer{
    font-size: 1.9rem;
    line-height: 3.2rem;
}

.list--number{
    margin-bottom: 1.4rem;
}

                /* Homepage */

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    height: 9.6rem;
    align-items: center;
    margin: 0 5rem;
}

.navbar--underline{
    border-bottom: 1px solid #EAEAEA;
}

/* Title */

.homepage-title{
    width: 1048px;
    height: 120px;
    margin-left: 15rem;
    margin-top: 6.7rem;
}

.homepage-title__heading{
    line-height: 4rem;
}

/* Items */

.items{
    height: 1700px;
    background: #1D1D1D;
    margin-top: 10.5rem;
}

.items-content{
    margin-top: 3rem;
}

.items-header{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.items-container {
    width: 1340px;
    margin: 0 auto;
}

.item-title{
    font-size: 2.2rem;
    margin-top: 0;
    color: #ffffff;
    margin-bottom: 1px;
    font-weight: 400;
}

.items__heading{
    margin-top: 1.6rem;
}

.items__block > img{
    margin-top: 4rem;
}

.items-description{
    font-size: 1.5rem;
    margin-top: 6px;
    color: #ffffff;
    opacity: 0.7;
}

/* Footer */

.footer--primary{
    background: #ffffff;
}

.footer--secondary{
    background: #1D1D1D;
    color: #ffffff;
}

.footer-container{
    width: 1140px;
    height: 330px;
    margin: 0 auto;
}

.footer__content{
    justify-content: space-between;
    padding-top: 8.1rem;
}


.footer__copyright{
    font-size: 1.6rem;
    margin: 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 5.7rem;
}

                    /* Single Page */

/* Single Header */

.single-heading{
    height: 18rem;
    padding-left: 15rem;
}

.heading__heading{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1.3rem;
}

.heading__description{
    font-size: 1.6rem;
    margin: 0;
}

.heading-center{
    padding-top: 5rem;
}

/* Content */

.single-image__margin{
    margin-left: 6.8rem;
}

.single-text{
    font-size: 1.8rem;
    padding-left: 34.5rem;
    margin: 8rem 0;
}

.single__content{
    margin-bottom: 2rem;
    line-height: 3rem;
    width: 78rem;
}

.single__content p{
    margin: 0;
}

.single__link{
    color: #000000;
    font-weight: 500;
}

/* Image Block */

.single-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-content__image > img{
    margin-bottom: 4rem;
}

.divider{
    border-top: 1px solid #bbb;
    width: 1140px;
    color: #EAEAEA;
    margin-top: 4rem;
}

/* Pagination */

.pagination{
    margin: 0 auto;
    width: 1136px;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}

.pagination a{
    color: black;
    text-decoration: none;
}

.pagination__prev{
    margin-right: 1rem;
}

.pagination__next{
    margin-left: 1rem;
}

                /* Single Page 2 */

/* Picture */

.single2-image > img{
    margin: 5rem;
}

.single-margin{
    margin: 4rem;
}

.single2-content{
    display: flex;
}

.single__content-side{
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: end;
    width: 18rem;
    position: relative;
    top: 4rem;
    right: 5rem;
}

.single__content-side p {
    margin: 0;
}

.single-text__content{
    position: relative;
    right: 23rem;
}

.single-list{
    font-size: 1.8rem;
    line-height: 3rem;
}

.single-list__p{
    margin-top: 2.5rem;
}

.single-main__heading{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0;
}

.single-main{
    margin-top: 7.2rem;
}

.single-container{
    width: 1094px;
    margin-left: 15.1rem;
}

.single-text__margin{
    margin-left: 16.5rem;
}
