html{
    font-size: 10px;
}

* , *::before , *::after{
    box-sizing: border-box;
}

body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E5E5E5;
}

/* Headings */

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

/* Button Links */

.btn{
    font-size: 1.6rem;
    border: none;
    background: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}

.btn--secondary{
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.btn--active{
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 1px;
    color: #000;
}

/* List */

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list--link{
    display: flex;
    font-size: 1.6rem;
}

.list--link li{
    margin-right: 3rem;
}

.list--footer{
    font-size: 1.9rem;
    line-height: 3.2rem;
}

.list--number{
    margin-bottom: 1.4rem;
}

                /* Homepage */

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    height: 9.6rem;
    align-items: center;
    margin: 0 5rem;
}

/* Title */

.homepage-title{
    width: 1048px;
    height: 120px;
    margin-left: 15rem;
    margin-top: 6.7rem;
}

.homepage-title__heading{
    line-height: 4rem;
}

/* Items */

.items{
    height: 1700px;
    background: #1D1D1D;
}

.items-content{
    margin-top: 3rem;
}

.items-header{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.items-container {
    width: 1340px;
    margin: 0 auto;
}

.item-title{
    font-size: 2.2rem;
    margin-top: 0;
    color: #ffffff;
    margin-bottom: 1px;
    font-weight: 400;
}

.items__heading{
    margin-top: 1.6rem;
}

.items-description{
    font-size: 1.5rem;
    margin-top: 6px;
    color: #ffffff;
    opacity: 0.7;
}

/* Footer */

.footer{
    background: #ffffff;
}

.footer-container{
    width: 1140px;
    height: 330px;
    margin: 0 auto;
}

.footer__content{
    justify-content: space-between;
    padding-top: 8.1rem;
}


.footer__copyright{
    font-size: 1.6rem;
    margin: 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 5.7rem;
}

