html{
    font-size: 10px;
}

* , *::before , *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E5E5E5;
}

/* Headings */

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

/* Button Links */

.btn{
    font-size: 1.6rem;
    border: none;
    background: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn--secondary{
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.btn--active{
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 1px;
}

/* List */

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list--link{
    display: flex;
    font-size: 1.6rem;
}

.list--link li{
    margin-right: 3rem;
}

.list--footer{
    font-size: 1.9rem;
    line-height: 3.2rem;
}

                /* Homepage */

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    height: 9.6rem;
    align-items: center;
    margin: 0 5rem;
}

/* Title */

.homepage-title{
    width: 1048px;
    height: 120px;
    margin-left: 15rem;
    margin-top: 6.7rem;
}

.homepage-title__heading{
    line-height: 4rem;
}


