<div class="clients">
    <p class="clients__p clients__p-list">Awards.</p>
</div>
<div class="row about-list-container">
    <div class="col-2">
        <p class="about-list about-list__p">2020</p>
    </div>
    <div class="col-5">
        <ul class="list about-list">
            <li>Design for Screen UK Edition</li>
            <li>Awwwards best websites 2020</li>
            <li>Interaction Design</li>
            <li>Interview on Awwwards</li>
        </ul>
    </div>
    <div class="col-5">
        <ul class="list about-list">
            <li>Invision Project Feature</li>
            <li>FWA Insights Series</li>
            <li>CSS Design Awards</li>
            <li>Webby Awards Stories</li>
        </ul>
    </div>
</div>
<div class="row about-list-container about-list--container">
    <div class="col-2">
        <p class="about-list about-list__p">2019</p>
    </div>
    <div class="col-5">
        <ul class="list about-list">
            <li>Creative Bloq</li>
            <li>NewWebPick Issue 50</li>
            <li>Web Designing</li>
        </ul>
    </div>
    <div class="col-5">
        <ul class="list about-list">
            <li>Interaction Design</li>
            <li>Graphik Design</li>
        </ul>
    </div>
</div>