<div class="about-container about-container__margin">
    <div class="clients">
        <p class="clients__p">Clients.</p>
    </div>
    <div class="row about-logo">
        <div class="col-4">
            <img src="/images/samsung.png" alt="">
        </div>
        <div class="col-4">
            <img src="/images/windows.png" alt="">
        </div>
        <div class="col-4">
            <img src="/images/dribble.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/images/google.png" alt="">
        </div>
        <div class="col-4">
            <img src="/images/facebook.png" alt="">
        </div>
        <div class="col-4">
            <img src="/images/adobe.png" alt="">
        </div>
    </div>
</div>