<div class="blog-container">
    <div class="row">
        <div class="col-8">
            <picture>
                <source type="image/webp" srcset="/images/blog-1.webp">
                <source type="image/png" srcset="/images/blog-1.png">
                <img src="/images/blog-1.png" alt="">
            </picture>
            <div class="blog-content">
                <h2 class="blog-content__heading">No More Mistakes With Agile Methodology</h2>
                <p class="blog-content__date">01.21.2020</p>
                <p class="blog-content__content">Primis pulvinar augue sollicitudin senectus mus donec.
                    Dictumst amet purus leo condimentum. Nisl venenatis mi auctor porttitor facilisi luctus maecenas litora pretium dictumst venenatis diam.</p>
                <a href="#" class="btn btn--active blog-content__link">Read More</a>
            </div>
        </div>
        <div class="col-4 blog-second-item">
            <picture>
                <source type="image/webp" srcset="/images/blog-2.webp">
                <source type="image/png" srcset="/images/blog-2.png">
                <img src="/images/blog-2.png" alt="">
            </picture>
            <div class="blog-content">
                <h2 class="blog-content__heading">A Guide To Marketing At Any Age</h2>
                <p class="blog-content__date">01.21.2020</p>
                <p class="blog-content__content">Primis pulvinar augue sollicitudin senectus mus donec. Dictumst amet purus leo condimentum. </p>
                <a href="#" class="btn btn--active blog-content__link">Read More</a>
            </div>

        </div>
    </div>
</div>