<div class="blog-container blog-content--flex">
    <div class="blog-item1">
        <picture>
            <source type="image/webp" srcset="../images/blog-3.webp">
            <source type="image/png" srcset="../images/blog-3.png">
            <img src="../images/blog-3.png" alt="">
        </picture>
        <div class="blog-content">
            <h2 class="blog-content__heading">5 Things To Do Immediately</h2>
            <p class="blog-content__date">01.21.2020</p>
            <p class="blog-content__content">Primis pulvinar augue sollicitudin senectus mus donec. Dictumst amet purus leo condimentum nisl venenatis mi auctor porttitor facilisi.</p>
            <a href="#" class="btn btn--active blog-content__link">Read More</a>
        </div>
    </div>
    <div class="blog-item2">
        <picture>
            <source type="image/webp" srcset="../images/blog-4.webp">
            <source type="image/png" srcset="../images/blog-4.png">
            <img src="../images/blog-4.png" alt="">
        </picture>
        <div class="blog-content">
            <h2 class="blog-content__heading">2 Ways To Get Through To Your Goals</h2>
            <p class="blog-content__date">01.21.2020</p>
            <p class="blog-content__content">Primis pulvinar augue sollicitudin senectus mus donec. Dictumst amet purus leo condimentum nisl venenatis mi auctor porttitor facilisi.</p>
            <a href="#" class="btn btn--active blog-content__link">Read More</a>
        </div>
    </div>
</div>