<footer class="footer">
    <div class="footer-container">
        <div class="row footer__content">
            <div class="log-4">
                <ul class="list list--footer">
                    <li class="list--number">(+51) 973-406-6019</li>
                    <li>4592 Jadewood Farms</li>
                    <li>Rochelle Park, NJ 07662</li>
                </ul>
            </div>
            <div class="log-4">
                <ul class="list list--footer">
                    <li>(+51) 973-406-6019</li>
                    <li>4592 Jadewood Farms</li>
                    <li>Rochelle Park, NJ 07662</li>
                </ul>
            </div>
            <div class="log-4">
                <img src="/images/Workwithme.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer__copyright">&copy; 2019 Clarius</p>
            <a class="btn btn--active" href="">Back to top</a>
        </div>
    </div>
</footer>