<section class="items">
    <div class="items-container">
        <div class="row items-content">
            <div class="col-3">
                <picture>
                    <source type="image/webp" srcset="images/item1.webp">
                    <source type="image/png" srcset="images/item1.png">
                    <img src="images/item1.png" alt="">
                </picture>
                <h3 class="item-title items__heading">Purple Point</h3>
                <p class="items-description">Automation</p>
            </div>
            <div class="col-3">
                <picture>
                    <source type="image/webp" srcset="images/item2.webp">
                    <source type="image/png" srcset="images/item2.png">
                    <img src="images/item1.png" alt="">
                    <h3 class="item-title items__heading">Each Dreamer</h3>
                    <p class="items-description">Design, Branding</p>
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source type="image/webp" srcset="images/item3.webp">
                    <source type="image/png" srcset="images/item3.png">
                    <img src="images/item1.png" alt="">
                    <h3 class="item-title items__heading">Alien in the Nobody</h3>
                    <p class="items-description">Creative</p>
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source type="image/webp" srcset="images/item4.webp">
                    <source type="image/png" srcset="images/item4.png">
                    <img src="images/item1.png" alt="">
                    <h3 class="item-title items__heading">One Hundred Years</h3>
                    <p class="items-description">Print, Design</p>
                </picture>
            </div>
        </div>
    </div>
</section>