<section class="single-content">
    <picture class="single-content__image">
        <source type="image/webp" srcset="/images/single-2.webp">
        <source type="image/png" srcset="/images/single-2.png">
        <img src="/images/single-2.png" alt="">
    </picture>

    <picture class="single-content__image">
        <source type="image/webp" srcset="/images/single-3.webp">
        <source type="image/png" srcset="/images/single-3.png">
        <img src="/images/single-3.png" alt="">
    </picture>

    <picture class="single-content__image">
        <source type="image/webp" srcset="/images/single-4.webp">
        <source type="image/png" srcset="/images/single-4.png">
        <img src="/images/single-4.png" alt="">
    </picture>
</section>

<hr class="divider">