<section class="single-text">
    <div class="single__content">
        <p>Habitasse enim ligula mattis sit. Proin amet blandit aenean curabitur nunc sociosqu dolor aliquet sollicitudin. Iaculis tempor eget torquent eleifend accumsan cursus nunc. Finibus odio aptent elit ac fames volutpat risus. Torquent efficitur conubia
            magna non etiam finibus faucibus. Taciti himenaeos tempor praesent feugiat neque justo ultricies. Aliquet dolor dui bibendum congue consequat.
            Penatibus sodales aliquam ex lectus congue fusce nibh consectetur gravida. Felis hac orci tortor varius proin ipsum. Malesuada turpis curabitur justo ipsum accumsan.</p>
    </div>
    <a class="single__link" href="#">Ferrify.com</a>
</section>