<div class="row">
    <div class="col-8 single-main">
        <picture>
            <source type="image/webp" srcset="/images/single2-2.webp">
            <source type="image/png" srcset="/images/single2-2.png">
            <img src="/images/single2-2.png" alt="">
        </picture>


        <picture class="items__block">
            <source type="image/webp" srcset="/images/single2-3.webp">
            <source type="image/png" srcset="/images/single2-3.png">
            <img src="/images/single2-3.png" alt="">
        </picture>

        <picture class="items__block">
            <source type="image/webp" srcset="/images/single2-4.webp">
            <source type="image/png" srcset="/images/single2-4.png">
            <img src="/images/single2-4.png" alt="">
        </picture>
    </div>
    <div class="col-4 single-main">
        <h3 class="single-main__heading">What we did</h3>
        <ul class="list single-list">
            <li>Art Direction</li>
            <li>UX/UI Design</li>
            <li>Web Development</li>
            <li>Illustration</li>
            <li>Campaign Production</li>
            <li>Product Design</li>
        </ul>
        <p class="single-list single-list__p">Launched in February 2019</p>
        <a href="#" class="single__link single-list">Ferrify.com</a>
    </div>
</div>