<section class="single-text">
    <h1>Each Dreamer</h1>
    <div class="row single-text__content">
        <div class="col-2 single__content-side">
            <p>Aliquet ullamcor vulputate tristique sapien morbi </p>
        </div>
        <div class="col-10 single2-content">
            <div class="single__content single-margin">
                <p>Habitasse enim ligula mattis sit. Proin amet blandit aenean curabitur nunc sociosqu dolor aliquet sollicitudin. Iaculis tempor eget torquent eleifend accumsan cursus nunc. Finibus odio aptent elit ac fames volutpat risus. Torquent efficitur conubia
                    magna non etiam finibus faucibus. Taciti himenaeos tempor praesent feugiat neque justo ultricies. Aliquet dolor dui bibendum congue consequat.
                    Penatibus sodales aliquam ex lectus congue fusce nibh consectetur gravida. Felis hac orci tortor varius proin ipsum. Malesuada turpis curabitur justo ipsum accumsan.</p>
            </div>
        </div>
    </div>
    <p class="single__link">Fascilisis nostra placerat habitasse.</p>
</section>